---
import Layout from '../layouts/Layout.astro'
import SpaceX from '../components/spaceX/spacex.svelte'
---

<Layout title='Welcome to Astro X'>
  <main transition:animate='slide'>
    <SpaceX client:load />
  </main>
</Layout>
