---
import Layout from '../layouts/Layout.astro'
import SpaceX from '../components/spaceX/spacex.svelte'
import Section from '../components/Section.astro'
import AIcon from '../svgs/AstroIcon.astro'
import { HelloWorld } from '@components/helloWorld/helloWorld.tsx'
---

<Layout title='Welcome to Astro X'>
  <main transition:animate='fade'>
    <div class='intro'>
      <div class='icon'>
        <AIcon width={55} height={55} />
        <h1>Astro framework frontend</h1>
      </div>
      <div class='text'></div>
    </div>
    <Section>
      <div class='container'>
        <div class='info'>
          <HelloWorld client:load />
        </div>
        <div class='svelte-component'>
          <SpaceX client:load />
        </div>
      </div>
    </Section>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-wrap: 1;
    flex-basis: auto;
    width: 100%;
    gap: 10px;
  }

  .info {
    width: 100%;
  }

  .intro {
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: right;
    background-image: url('/astroStation.jpeg');
    background-size: 800px;
    background-repeat: no-repeat;
    background-color: #fafaf8;
    background-blend-mode: saturation;
    background:
      linear-gradient(90deg, #fafaf8, #fafaf8),
      url('/astroStation.jpeg') no-repeat right center / 600px;
  }

  .svelte-component {
    width: 100%;
    display: flex;
  }

  .icon {
    position: absolute;
    opacity: 1;
    display: flex;
    bottom: 15%;
    filter: drop-shadow(0 0 10px #fff);
    left: 5%;
  }

  img {
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .text {
    margin-top: 100px;
    margin-left: 50px;
  }
</style>
