---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
import AIcon from '../svgs/AstroIcon.astro'
import Rust from '../svgs/RustIcon.astro'
---

<Layout title='Welcome to Astro X'>
  <main transition:animate='slide'>
    <Hero />
    <Section>
      <div class='icons'>
        <AIcon width={80} height={80} />
        <p>+</p>
        <Rust width={80} height={80} />
      </div>
      <h2>
        Astro X is a monolithic template for building modern fullstack web
        applications.
      </h2>
      <p>
        It comes with a variety of features and tools that make it easy to build
        and maintain your application. Astro X is built with Astro, a modern
        front-end framework that makes it easy to build fast, modern web
        applications.
      </p>
    </Section>
  </main>
</Layout>

<style>
  .icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: x-large;
  }

  h2 {
    text-align: center;
  }
</style>
