---
import Card from '../../components/Card.astro'
import AstroImage from '../imgs/astro2.jpeg'
import AxtixImage from '../imgs/actix.png'
import AstroIcon from '../../svgs/AstroIcon.astro'
import ActixIcon from '../../svgs/Actix.astro'
import ZoomImage from '../../components/zoomImage/zoomImage.astro'
---

<div class='grid'>
  <div></div>
  <div class='align-left'>
    <ZoomImage
      src={AstroImage}
      alt='Astro framework referance guide'
      borderFlat='left'
    />
    <Card
      title='Astro'
      body='Reference guide for astro frontend'
      href='/astro'
      moreInfo='React, Svelte, Vue and others, all major frameworks in place'
    >
      <AstroIcon width={58} height={58} />
    </Card>
  </div>
  <div class='align-right'>
    <ZoomImage src={AxtixImage} alt='The actix core' borderFlat='right' />
    <Card
      title='Actix'
      body='Reference guide for actix backend'
      href='/actix'
      moreInfo='actix rust backend server'
    >
      <ActixIcon width={58} height={58} />
    </Card>
  </div>

  <style>
    .grid {
      display: grid;
      justify-content: center;
      flex-wrap: wrap;
      grid-template-columns: 1fr 1fr;
      min-height: 100vh;
      align-items: flex-start;
      gap: 2rem;
      padding-top: 150px;
      padding-bottom: 150px;
      background: linear-gradient(88deg, #efefef, #e7e7e7);
    }

    .align-right {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
    }

    .align-left {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  </style>
</div>
