---
import Card from '../../components/Card.astro'
---

<div class='grid'>
  <Card title='Astro' body='Reference guide for astro frontend' href='/astro' />
  <Card title='Actix' body='Reference guide for actix backend' href='/actix' />
</div>

<style>
  .grid {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    background: linear-gradient(88deg, #efefef, #e7e7e7);
  }
</style>
