<footer>
  <div class='flex'>
    <a href='https://github.com/MassivDash/astroX'>Astro X</a>
    <p>by</p>
    <a href='https://github.com/MassivDash'>Spaceghost</a>
  </div>
  <div class='flex'>
    <a href='https://spaceout.pl'>spaceout.pl</a>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(44 44 44);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    margin: auto;
    margin: 0 5px;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
