<footer>
  <div class='footer'>
    <div class='flex'>
      <a href='https://github.com/MassivDash/astroX'>Astro X</a>
      <p>by</p>
      <a href='https://github.com/MassivDash'>Spaceghost</a>
    </div>
    <div class='flex'>
      <a href='https://spaceout.pl'>spaceout.pl</a>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(44 44 44);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1560px;
  }

  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
</style>
