---
import '@fontsource/pacifico'
---

<section>
  <div class='absolute'>
    <h1><span>Welcome to</span><br />Astro X</h1>
  </div>
</section>

<style>
  /* Mobile-first base styles */
  section {
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(90deg, #f6f6f6, #eeeeee, #f4f4f4, #fefefe),
      url('/hero.jpeg') no-repeat center right / cover;
    -webkit-background-clip: text;
    background-blend-mode: hue;
    color: transparent;
    filter: invert(1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 2px #00000017;
    span {
      font-size: 1.5rem;
      font-family: Pacifico, cursive;
      color: #fff;
      line-height: 20px;
    }
  }

  .absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: saturation;
    background:
      linear-gradient(90deg, #ededed, #eeeeee, #f4f4f4, #fefefe),
      url('/hero.jpeg') no-repeat center right / cover;
  }

  /* Tablet and desktop styles */
  @media screen and (min-width: 768px) {
    section {
      min-height: 700px;
    }

    h1 {
      font-size: 13rem;
      text-shadow: 9px 4px #00000017;
      background:
        linear-gradient(90deg, #f6f6f6, #eeeeee, #f4f4f4, #fefefe),
        url('/hero.jpeg') no-repeat center right / contain;
      -webkit-background-clip: text;
      background-blend-mode: hue;
      span {
        font-size: 4rem;
      }
    }

    .absolute {
      background:
        linear-gradient(90deg, #ededed, #eeeeee, #f4f4f4, #fefefe),
        url('/hero.jpeg') no-repeat center right / contain;
    }
  }
</style>
